

h1{
	text-align: center;
	border: 10px solid #9170E4;
}


	
a.stylelink1 {
    text-align: LEFT;
	margin : 100px;
	margin-right: 50px;
    color: #9170E4;
	font: bold 12px/50px Georgia, serif;
	font-size: 100%;
}

a.stylelink2 {
    
	text-align: right;
	margin-left: 800px;
	color: #9170E4;
	font: bold 12px/50px Georgia, serif;
	font-size: 100%;
}
a.stylelink3 {
    text-align: right;
	margin : 25px;
    color: #9170E4;
	font: bold 12px/50px Georgia, serif;
	font-size: 100%;

}
a.stylelink4 {
    text-align: right;
	margin-left : 900px;
    color: #9170E4;
	font: bold 12px/50px Georgia, serif;
	font-size: 100%;

}
div.e1 {
    opacity: 0.3;
	text-align: center;
	padding-bottom: 30px;
	
}
table{
	margin: 2px auto;
	width: 350px;
	color: #9170E4;
}
input{
	padding: 10px;
	font: inherit;
}
input[type="text"]{
	display: block;
	margin-bottom: 15px;
	width: 100%;
	border: 2px solid #9170E4;
	background: #f9f770;
}
input[type="password"]{
	display: block;
	margin-bottom: 15px;
	width: 100%;
	border: 2px solid #9170E4;
	background: #f9f770;
}
input:focus {
		background: white;
}
input[type="submit"]{
	width:360px;
	height:50PX;
	border: none;
	background: #9170E4;
	color: white;
}


.footer-section {
    padding:25px 50px 25px 50px;
    color:#000;
    font-size:13px;
      background-color: white;
      text-align:right;
       border-top:10px solid #9170E4;

}

    .footer-section a, .footer-section a:hover {
        color:#000;
    }
h2{
	text-align: center;
	color: #9170E4;
	Font-family: Lucida Console;
	width: 320px;
    padding: 10px;
    margin-left: 480px;
	border-style: ridge;
	text-shadow: 3px 2px black;
}